<header class="header">
    <div class="loglink">
        <div class="links">
            <a class="nav__link" href="/allauto">Автомобили</a>
            <a class="nav__link" href="/shopuser">Покупка</a>
            <a class="nav__link" href="/arcars">AR авто</a>
            <a class="nav__link" href="/bmwinfo">Больше о BMW</a>
        </div>

        <form action="/returnmain" target="">
            <button class="logo_heade_button">
            </button>
        </form>


    </div>
</header>
