* {
    margin: 0;
    padding: 0;
    font-family: Tonky;
    color: #cccccc;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*img{*/
/*    width: 200px;*/
/*    height: 300px;*/
/*}*/

/*____Картинка в начале______*/
.videoHeader{
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    z-index: 1;
    margin: 0px 0px 100px 0px;
}
.videoHeader video {
    width: 100%;
    height: 750px;
    object-fit: cover;

}

.videText{
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-25%, -50%);
}

.videText p1{
    color: #fff;
    font-family: Tonky;
    font-size: 36px;
}

.videText p2{
    color: #fff;
    font-family: Tonky;
    font-size: 200px;
    font-weight: bold;

}

.videoLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 40px 0;
}

.videoLogo img{
    width: 70%;
    height: 70%;
    margin: 0 45px 0 0;
}

.videoLogo p3{
    width: 100%;
    color: #fff;
    font-family: Tonky;
    font-size: 40px;
    text-transform: uppercase;
}

.harText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.harTextBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
    margin: 0px 40px 0px 0px;
}

.harTextBlock p1{
    width: 100%;
    color: #fff;
    font-family: Tonky;
    font-size: 28px;
    font-weight: bold;
}

.harTextBlock p2{
    color: #fff;
    font-family: Tonky;
    font-size: 20px;

}

/*___________Слайдеp_____________*/

.sliderMain, .sliderMain2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 100px 0;
}
.findCarInfo, .findCarInfo2{
    margin: 0 0 20px 0;
}
.findCarInfo p2, .findCarInfo2 p2{
    color: #262626;
    font-family: New;
    font-size: 50px;
    font-weight: bold;
}

.wrapper, .wrapper2 {
    /*max-width: 1100px;*/
    width: 80%;
    position: relative;
}

.wrapper i, .wrapper2 i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active, .wrapper2 i:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child, .wrapper2 i:first-child{
    left: -22px;
}

.wrapper i:last-child, .wrapper2 i:last-child{
    right: -22px;
}

.wrapper .carousel, .wrapper2 .carousel2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    /*border-radius: 8px;*/
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar, .carousel2::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition, .carousel2.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging, .carousel2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card, .carousel2.dragging .card2 {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img), .carousel2 :where(.card2, .img) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card, .carousel2 .card2 {
    scroll-snap-align: start;
    height: 100%;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.card .img img, .card2 .img img {
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    object-fit: cover;
    border: 15px solid #fff;
}

.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    object-fit: contain;
    cursor: zoom-out;
}


.carousel .card h2, .carousel2 .card2 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    font-family: Tonky;
    overflow: hidden;
    white-space: nowrap; /* Текст не переносится на новую строку */
    text-overflow: ellipsis;
    /*font-size: 28px;*/
    /*font-size: 1.56rem;*/
    /*text-transform: uppercase;*/
}

.carousel:hover .card:hover h2, .carousel2:hover .card2:hover h2 {
    white-space: normal; /* Полный отображение текста при наведении */
    overflow: visible;
    text-overflow: inherit;
}


.carousel .card span, .carousel2 .card2 span {
    color: #6A6D78;
    font-size: 1.31rem;
}


/*@media screen and (max-width: 900px) {*/
/*    .wrapper .carousel {*/
/*        grid-auto-columns: calc((100% / 2) - 9px);*/
/*    }*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    .wrapper .carousel {*/
/*        grid-auto-columns: 100%;*/
/*    }*/
/*}*/

/*______История машины_________*/

.carHistory{
    /*width: 100%;*/
    height: 100%;
    margin: 80px 60px 100px 60px;
}

.carHistory p{
    /*padding: 60px 60px 60px 60px;*/
    width: 100%;
    color: black;
    font-family: Tonky;
    font-size: 28px;
    margin: 20px 0 0 0;
}
.carHistory p2{
    color: #262626;
    font-family: New;
    font-size: 50px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    margin: 0 0 20px 0;
}

/*_____Видео_____*/
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 100px 0;
}

.video p{
    color: #262626;
    font-family: New;
    font-size: 50px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    margin: 0px 0px 20px 0px;
}

/*________Цена____________*/

.priceBlock{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin:0px 0px 40px 0px;
}

.priceBlock img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0px 60px 0px 0px;
}

.priceTitle{
    width: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.priceTitle p1{
    color: #262626;
    font-family: New;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}

.priceTitle p2{
    /*width: 100%;*/
    color: black;
    font-family: Tonky;
    font-size: 28px;
    margin: 0px 0px 10px 0px;
}

.priceTitle button{
    font-size: 24px;
    width: 100%;
    height: 55px;
    background: #0268AA;
    border: 1px solid #0268AA;
    cursor: pointer;
    /*font-weight: bolder;*/
}

/*____Конфиг______*/

.konfigMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.konfig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin:0px 0px 100px 0px;
}

.konfig img{
    width: 900px;
    height: 390px;
    object-fit: cover;
    margin-bottom: 20px;
}

.konfig p2{
    color: #262626;
    font-family: New;
    font-size: 50px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    margin: 0 0 20px 0;
}

.konfig button {
    width: 300px;
    height: 55px;
    background: #0268AA;
    border: 1px solid #0268AA;
    cursor: pointer;
    font-weight: bolder;
}

.konfig p1{
    color: #fff;
    font-family: Tonky;
    font-weight: normal;
    font-size: 24px;
}

