html, body {
    height: 100%;
}
* {
    margin: 0;
    font-family: Tonky;
    color: #e3e3e3;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tonky;
    color: #e3e3e3;
    /*height: 100vh; !* Set height to 100% of the viewport height *!*/
}

.login-page {
    width: 100%;
    height: 500px; /* Set height to 100% of the viewport height */
    margin: 0; /* Remove auto margin */
    background: url("../../images/main/testdrive/testdriveback3.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    padding: 8% 0;
    position: relative;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.24);
    max-width: 360px;
    width: 100%; /* Make the form full width */
    box-sizing: border-box;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: Tonky;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}

.form button {
    font-family:  Tonky;
    text-transform: uppercase;
    outline: 0;
    background: #0067B3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #0d4ebe;
}

/*________________________*/
select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    font-family: Tonky;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}