html, body {
    height: 100%;
}
* {
    margin: 0;
    font-family: Tonky;
    color: #e3e3e3;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tonky;
    color: #e3e3e3;
    /*height: 100vh; !* Set height to 100% of the viewport height *!*/
}

hr {
    margin: 10px;
    border: none; /* Убираем границу */
    background-color: #767A80; /* Цвет линии */
    color: #767A80; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

/*________Админ Картинка________*/
.bmwServiceLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background: url("../../images/bmwService.jpeg") no-repeat center center fixed;*/
}

/*.wallpersServ{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    background: url("../../images/bmwService.jpeg") no-repeat center center fixed;*/
/*}*/

/*_________Основной контейнер_________*/

.container{
    width: 100%;
    height: 100%;
    display: flex;
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*__________Конейнер выбора__________*/

.bodyCongButton {
    width: 400px;
    /*margin: 0px 30px 0px 0px;*/
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: center;
}

.bodyCongButton button {
    width: 100%;
    margin: 0px 40px 0px 0px;
    /*width: 150px;*/
    height: 50px;
    line-height: 38px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0); /* Fully transparent border */
    cursor: pointer;
}

.bodyCongButton button.underline,
.bodyCongButton button:focus {
    border-bottom: 2px solid white;
}

/*___________Таблица тест-драйва_____________*/

.testDriveUsersTable, .carTestDriveReserveTable{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infotestDriveUsersTable{
    margin:0px 0px 20px 0px;
}

table {
    background: black;
    color: black;
    border-spacing: 2px;
}

th {
    background: gray;
    padding: 5px;
}

td{
    background: #0d4ebe;
    padding: 5px;
}

.mark-yes , .greenInfo {
    background-color: #aaffaa;
    color:#aaffaa;
}


.mark-no, .redInfo {
    background-color: #ffaaaa;
    color: #ffaaaa;
}


.mark-service, .orangeInfo {
    background-color: orange;
    color: orange;
}

.mark-carinservice, .yellowInfo{
    background-color: yellow;
    color: yellow;
}

/*_______________Добавление машины_____________*/
.carInputForm {
    width: 100%;
    /*margin: 0px 30px 0px 0px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form input{
    font-family: Tonky;
    outline: 0;
    background: #f2f2f2;
    width: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}

.login-form button{
    color:black;
    background-color: white;
    width: 200px;
    height: 30px;
}

.carInputFormB select{
    font-family: Tonky;
    outline: 0;
    background: #f2f2f2;
    width: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}

.carInputFormB{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*__________Удаление машины________________*/
.carDeleteForm{
    width: 100%;
    /*margin: 0px 30px 0px 0px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.carDeleteFormB{
    width: 300px;

}

.carDeleteForm select{
    font-family: Tonky;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}

.carDeleteForm button{
    color:black;
    background-color: white;
    width: 200px;
    height: 30px;
}

/*____________Все машины________*/
.allCarTable{
    width: 100%;
    /*margin: 0px 30px 0px 0px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*_________Все слайдер_______*/
.carSliderTableForm {
    width: 100%;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку */
}

.carSliderForm {
    width: 100%; /* Растягиваем форму на всю доступную ширину */
}

.carSliderAllButton table {
    width: 100%; /* Растягиваем таблицу на всю доступную ширину */
}

th {
    background: gray;
    padding: 5px;
}

td {
    background: #0d4ebe;
    padding: 5px;
}
.carSliderAllButton a{
    background: #0d4ebe;
    padding: 5px;
}
