<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mainCSS/bmwinfo/bmwinfo.css">
    <link rel="shortcut icon" href="/images/bmw_logo.png" type="image/png">
    <script src="/images/main/bmwinfo/app.js" defer></script>

    <title>BMW History</title>
</head>

<style>
    @font-face {
        font-family: Roboto;
        src: url("/fonts/SportsWorld.otf");
    }
    @font-face {
        font-family: Price;
        src: url("/fonts/textStyle.ttf");
    }
    @font-face{
        font-family: Tonky;
        src: url("/fonts/tonkyFont.ttf");
    }

    @font-face {
        font-family: New;
        src: url("/fonts/newFont.ttf");
    }
</style>


<body>

    <div class="cl1">

        <div class="container">
            <section class="gallery">

                <div class="frame">
                    <div class="frame__content">
                        <h2>BMW 5 SERIES HISTORY</h2>
                    </div>
                </div>

                <div class="frame">
                    <div class="frame__content">
                        <div class="frame-media frame-media_left" style="background-image: url(/images/main/bmwinfo/img1.jpeg)"></div>
                    </div>
                </div>

                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_right" style="background-image: url(/images/main/bmwinfo/img2.jpeg)"></div>
                        <!-- <video class="frame-media frame-media_right" src="media/video_optimized.mp4" autoplay loop muted></video> -->
                    </div>
                </div>

                <div class="frame"></div>
                <!--  -->
                <div class="frame">
                    <div class="frame__content text-right">
                        <h3>BMW M5 E28</h3>
                        <p>Первый в своем роде, первый в серии M. Этот седан не просто привозил вас к месту назначения, он переносил вас в мир динамичного вождения.</p>
                    </div>
                </div>
                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_left" style="background-image: url(/images/main/bmwinfo/img3.jpeg)"></div>
                    </div>
                </div>
                <!--  -->
                <div class="frame"></div>
                <!--  -->
                <div class="frame">
                    <div class="frame__content text-left">
                        <h3>BMW M5 E34</h3>
                        <p>Каждая кривая, каждый оборот колеса - M5 E34 была оркестром, исполняющим симфонию движения. Продуманный дизайн этого автомобиля был не просто внешним обликом, а искусством, которое угодило не только глазам, но и дорожному ветру</p>
                    </div>
                </div>

                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_right" style="background-image: url(/images/main/bmwinfo/img4.jpeg)"></div>
                    </div>
                </div>
                <!--  -->
                <div class="frame"></div>
                <!--  -->

                <div class="frame">
                    <div class="frame__content text-left">
                        <h3>BMW M5 E39</h3>
                        <p> Это седан, который объединяет в себе производительность спортивного автомобиля и комфорт представительского седана. Он не просто передвигает вас по дороге, он помогает вам ощутить себя в гармонии с машиной и дорогой.</p>
                    </div>
                </div>

                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_right" style="background-image: url(/images/main/bmwinfo/img5.jpeg)"></div>
                    </div>
                </div>
                <!--  -->

                <div class="frame"></div>
                <!--  -->

                <div class="frame">
                    <div class="frame__content text-right">
                        <h3>BMW M5 E60</h3>
                        <p>В период с 2005 по 2010 год BMW M5 E60 взорвала стереотипы, представив великолепный 5.0-литровый V10, который стал не просто сердцем автомобиля, а настоящим источником безудержной мощи. Эта модель воплотила собой атмосферу гиперпроизводительности и предоставила водителям путеводную звезду на трассах.</p>
                    </div>
                </div>
                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_left" style="background-image: url(/images/main/bmwinfo/img6.jpeg)"></div>
                    </div>
                </div>
                <!--  -->

                <div class="frame"></div>
                <!--  -->
                <div class="frame">
                    <div class="frame__content text-left">
                        <h3>BMW M5 F10</h3>
                        <p>Эта модель предлагала не просто мощь, а возможность управлять ею на свой лад. С технологией TwinPower Turbo и 7-ступенчатой коробкой передач с двойным сцеплением, M5 F10 создавала потрясающий водительский опыт, где каждое нажатие на педаль газа было как мощный аккорд в симфонии автомобильного вождения.</p>
                    </div>
                </div>
                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_right" style="background-image: url(/images/main/bmwinfo/img7.jpeg)"></div>
                    </div>
                </div>
                <!--  -->

                <div class="frame"></div>
                <!--  -->
                <div class="frame frame_bg">
                    <div class="frame__content">
                        <video class="frame-media" src="/images/main/bmwinfo/video1.mp4" autoplay loop muted></video>
                    </div>
                </div>
                <!--  -->
                <div class="frame">
                    <div class="frame__content text-right">
                        <h3>BMW M5 F90</h3>
                        <p>BMW M5 F90 - не просто автомобиль, это путеводная звезда в будущее автомобильной индустрии.M5 F90 не просто едет по дороге, она взаимодействует с ней. Это не просто седан, это гиперсвязь с асфальтом, где каждая технологическая инновация направлена на улучшение ваших ощущений от вождения.</p>
                    </div>
                </div>
                <div class="frame frame_bg">
                    <div class="frame__content">
                        <div class="frame-media frame-media_left" style="background-image: url(/images/main/bmwinfo/img8.jpeg)"></div>
                    </div>
                </div>

                <div class="frame"></div>
                <div class="frame"></div>

                <div class="frame">
                    <div class="frame__content">BMW Group</div>
                </div>


            </section>
        </div>

    </div>

</body>


</html>